/* Start Variable */
:root {
    --main-color: #19c8fa;
    --transparent-color: rgb(15 116 143 / 70%);
    --section-padding: 100px;
}
/* End Variable */


/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style: none;
}

.container {
    width: 100%;
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* End Global Rules */

/* Start Component */
.main-heading {
    text-align: center;
    padding: 20px;
}

.main-heading h2 {
    font-weight: normal;
    font-size: 40px;
    position: relative;
    margin-bottom: 70px;
    text-transform: uppercase;
}

.main-heading h2::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    background-color: #333;
    bottom: -30px;
    width: 120px;
}

.main-heading h2::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 2px solid #333;
    bottom: -38px;
    background-color: white;
}

.main-heading p {
    width: 550px;
    margin: 0 auto 100px;
    max-width: 100%;
    line-height: 2;
    color: #777;
}
/* End Component */

/* Start Header */
header {
    padding-top: 20px;
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-bottom: 5px;
    min-height:  97px;
}

header .container::after {
    content: "";
    position: absolute;
    height: 1px;
    background-color: #a2a2a2;
    bottom: 0;
    width: calc(100% - 30px);
    left: 15px;
}

header .logo img {
    height: 30px;
}

header nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header nav ul {
    display: flex;
}

@media (max-width: 767px) {
    header nav ul {
        display: none;
    }

    header nav .toggle-menu:hover + ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: rgb(0 0 0 / 50%);
    }
}

header nav .toggle-menu {
    color: white;
    font-size: 22px;
}

@media (min-width: 768px) {
    header nav .toggle-menu {
        display: none;
    }
}

header nav ul li a {
    padding: 40px 7px;
    color: white;
    text-decoration: none;
    font-size: 15px;
    transition: 0.3s;
    position: relative;
    z-index: 2;
}

header nav ul li a.active,
header nav ul li a:hover {
    color: var(--main-color);
    cursor: pointer;
    border-bottom: 1px solid var(--main-color);
}

header nav .form {
    width: 40px;
    height: 30px;
    position: relative;
    margin-left: 30px;
    border-left: 1px solid white;
}

header nav .form i {
    color: white;
    position: absolute;
    font-size: 20px;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}
/* End Header */

/* Start Landing */
.landing {
    min-height: 100vh;
    background-color: #1f2021;
    background-image: url(../Images/landing.jpg);
    background-size: cover;
    position: relative;
}

.landing .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 50%);
}

.landing .text {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    padding: 50px;
    background-color: var(--transparent-color
    );
    color: white;
    display: flex;
    justify-content: flex-end;
}

.landing .text .content {
    max-width: 500px;
}

.landing .text .content h2 {
    font-size: 30px;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 20px;
}

.landing .text .content p {
    font-size: 14px;
    line-height: 2;
}

.landing .change-background {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
}

@media (max-width: 767px) {
    .landing .text {
        width: 100%;
    }

    .landing .text .content {
        max-width: 100%;
    }

    .landing .change-background {
        display: none;
    }
}

.landing .fa-angle-left {
    left: 30px;
}

.landing .fa-angle-right {
    right: 30px;
}

.landing .bullets {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    display: flex;
}

.landing .bullets li {
    width: 10px;
    height: 10px;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 10px;
}

.landing .bullets li.active {
    background-color: var(--main-color);
    border-color: var(--main-color);
}
/* End Landing */

/* Start Services */
.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

@media (min-width: 768px) {
    .services .services-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
        grid-column-gap: 40px;
        grid-row-gap: 60px;
    }
}

.services .srv-box {
    display: flex;
}

.services .srv-box i {
    margin-right: 50px;   
}

@media (max-width: 767px) {
    .services .srv-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 40px;
    }

    .services .srv-box i {
        margin: 0 0 20px;
    }
}

.services .srv-box h3 {
    margin-bottom: 10px;
    color: var(--main-color);
}

.services .srv-box p {
    line-height: 2;
    color: #777;
}
/* End Services */

/* Start Design */
.design {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    height: 600px;
    position: relative;
    background-image: url(../Images/design_feature.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.design::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 50%);
}

.design .image,
.design .text {
    position: relative;
    z-index: 2;
    flex: 1;
}

.design .image { 
    text-align: center;
}

.design img {
    width: 50%;
    position: relative;
    bottom: -150px;
    overflow: hidden;
}

.design .text {
    color: white;
    padding: 50px;
    background-color: var(--transparent-color);
}

.design .text h2 {
    margin-bottom: 40px;
    font-weight: normal;
    text-transform: uppercase;
}

.design .text ul li {
    padding: 15px 0;
}

.design .text ul li::before {
    font-family: 'Font Awesome 5 Free';
    content: '\f108';
    font-weight: 900;
    margin-right: 20px;
    position: relative;
    top: 1px;
}

@media (max-width: 767px) {
    .design img {
        display: none;
    }
}
/* End Design */

/* Start Portofolio */
.portofolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.portofolio .shuffle {
    display: flex;
    justify-content: center;
}

.portofolio .shuffle li {
    padding: 10px;
}

.portofolio .shuffle .shape {
    background-color: var(--main-color);
    color: white;
}

.portofolio .imgs-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
}

.portofolio .imgs-container .box {
    padding: 3px;
    height: 250px; 
    overflow: hidden;
}

.portofolio .imgs-container .box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
}

.portofolio .imgs-container .box:hover img {
    transform: rotate(3deg) scale(1.1);
    cursor: pointer;
}

@media (max-width: 767px) {
    .portofolio .imgs-container .box {
        flex-basis: 100%;
    }
}

@media (min-width: 768px) and (max-width: 1198px) {
    .portofolio .imgs-container .box {
        flex-basis: 50%;
    }
}

@media (min-width: 1199px) {
    .portofolio .imgs-container .box {
        flex-basis: 25%;
    }
}

.more {
    background-color: var(--main-color);
    color: white;
    padding: 15px 20px;
    display: block;
    width: fit-content;
    margin: 30px auto;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.3s;
}

.more:hover {
    background-color: #1096bb;
    cursor: pointer;;
    transform: scale(1.1);
}
/* End Portofolio */

/* Start Video */
.video {
    position: relative;
}

.video::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 40%);
}

.video video {
    width: 100%;
}

.video .text {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    padding: 50px;
    background-color: var(--transparent-color);
    color: white;
    text-align: center;
}

.video .text h2 {
    margin: 0 0 30px;
    text-transform: uppercase;
    font-weight: normal;
}

.video .text p {
    margin:30px;
    font-size: 20px;
}

.video .text button {
    background-color: rgb(35, 35, 35);
    color: white;
    padding: 10px 20px;
    border: none;
    text-transform: uppercase;
}

.video .text button:hover {
    background-color: black;
    cursor: pointer;
    transform: scale(1.1);
}
/* End Video */

/* Start About */
.about {
    padding-top: var(--main-color);
    overflow: hidden;
    text-align: center;
}

.about img {
    position: relative;
    bottom: -80px;
    margin-top: -120px;
    max-width: 100%;
}

@media (max-width: 767px) {
    .about img {
        bottom: -60px;
        margin-top: -60px;
    }
}
/* End About */

/* Start Statistics */
.stats {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;
    background-image: url(../Images/stats.jpg);
    background-size: cover;
    position: relative;
}

.stats::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 30%)
}

.stats .container {
    position: relative;
    color: white;
    display: flex;
    flex-wrap: wrap;
}

.stats .container .box {
    color: white;
    padding: 50px;
    background-color: var(--transparent-color);
}

@media (max-width: 767px) {
    .stats .container .box {
        flex-basis: 100%;
    }
}

@media (min-width: 768px) {
    .stats .container .box {
        flex-basis: 50%;
    }
}

@media (min-width: 992px) {
    .stats .container .box {
        flex-basis: 25%;
    }
}

.stats .container .box i {
    width: 40px;
    height: 40px;
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin: 0 auto 30px;
}

.stats .container .box .number {
font-size: 60px;
font-weight: bold;
margin-bottom: 20px;
}

.stats .container .box p {
    font-size: 14px;
}
/* End Statistics */